/*header*/
body{background-color:#eee;margin: 0;font-size: 14px;font-family: Georgia, "Times New Roman",
"Microsoft YaHei", "微软雅黑",
STXihei, "华文细黑",
serif;}
.header{
    margin:0;
    padding:6px;
    width:100%;
    height:38px;
    line-height:38px;
    box-shadow: 2px 2px 2px #999;
    background-color: #1e90ff;
}

.h_wrap{width:78%;margin:0 auto;position:relative;}
.web_name{
    display: inline-block;
    font-size: 26px;
    color:#fff;
    padding:0 24px 0 8px;
    font-weight: bolder;
}
.h_form{
    width:200px;
    display: inline-block;
    padding:0 12px 0 8px;
    height: 32px;
    border-radius: 4px;
    background-color: #fff;
}

.img_sub{
    width:20px;
    height: 20px;
    outline:none;
    margin-bottom:-2px;
    margin-right: 2px;
}

.s_text{
    top:8px;
    position: absolute;
    border:none;
    outline:none;
    width:180px;
    color: #333;
    font-family: Georgia, "Times New Roman",
    "Microsoft YaHei", "微软雅黑",
    STXihei, "华文细黑",
    serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #fff;
    height: 20px;
}
.nav{
    display: inline-block;
    width:300px;
    height:100%;
    position:absolute;
    top:-6px;
    right:268px;
}

.nav ul{
    margin:0;
    list-style: none;
    height:100%;
}
.nav ul li{
    margin:8px 4px  0 4px;
    float:left;
    display: inline-block;
    width:48px;
    height: 34px;
    background-color: #1e90ff;
    line-height: 34px;
    padding:0 8px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    transition: background-oclor .2s;
    -moz-transition: background-oclor .2s; /* Firefox 4 */
    -webkit-transition: background-oclor .2s; /* Safari 和 Chrome */
    -o-transition: background-oclor .2s; /* Opera */
}
.nav ul li:hover,.meun_ic:hover{
    background-color: #00bfff;
    box-shadow: 2px 2px 2px #1e60ff;
}
.nav_full{
    width:120px;
    height:100%;
    position:absolute;
    top:42px;
    left:-64px;
}
.nav_full ul{
	margin:0;
    list-style: none;
    height:100%;
}
.nav_full ul li{
    margin:0 4px;
    width:100%;
    height: 34px;
    background-color: #1e90ff;
    line-height: 34px;
    padding:0 8px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 2px 2px 2px #999;
    transition: background-oclor .2s;
    -moz-transition: background-oclor .2s; /* Firefox 4 */
    -webkit-transition: background-oclor .2s; /* Safari 和 Chrome */
    -o-transition: background-oclor .2s; /* Opera */
}
.nav_full ul li:nth-last-child(1){
	border-radius: 0 0 4px 4px;
}
.nav_full ul li:hover{
	background-color:#00BFFF;
	box-shadow: 2px 2px 2px #1e60ff;
}
.meun_ic{
	display: none;
	margin:8px 4px  0 4px;
    float:right;
    width:38px;
    height: 34px;
    background-color: #1e90ff;
    line-height: 34px;
    padding:0 8px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    transition: background-oclor .2s;
    -moz-transition: background-oclor .2s; /* Firefox 4 */
    -webkit-transition: background-oclor .2s; /* Safari 和 Chrome */
    -o-transition: background-oclor .2s; /* Opera */
	text-decoration: none;
    font-family: arial;
    position:absolute;
    top:-5px;
    left:2px;
}
.info{
    display: inline-block;
    width:160px;
    height:100%;
    float: right;
    position: absolute;
    top:-6px;
    right:4px;
    padding:4px 4px 0 4px;

}
.info div{
    display: inline-block;
    vertical-align:middle;
    border-radius: 4px;
    font-size: 16px;
    color:#fff;
    font-weight: 400;

}
.info img{
    width:24px;
    height:24px;
    padding:5px;
}
.img_m{
    width:34px;
    height:34px;
    background-color: #1e90ff;
    transition: background-oclor .2s;
    -moz-transition: background-oclor .2s; /* Firefox 4 */
    -webkit-transition: background-oclor .2s; /* Safari 和 Chrome */
    -o-transition: background-oclor .2s; /* Opera */

}
.img_m:hover{
    background-color: #00bfff;
    box-shadow: 2px 2px 2px #1e60ff;
}

.h_second_list ul{
    margin-top:-7px;
    list-style: none;
    position:absolute;
    top:50px;
    right:126px;
    width:62px;
    height:120px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #ccc;
}
.h_list{
    width:58px;
    height:34px;
    line-height: 34px;
    background-color: #1e90ff;
    text-align: center;
    transition: background-oclor .2s;
    -moz-transition: background-oclor .2s; /* Firefox 4 */
    -webkit-transition: background-oclor .2s; /* Safari 和 Chrome */
    -o-transition: background-oclor .2s; /* Opera */

}
.h_list:hover{
    background-color: #00bfff;
    box-shadow: 2px 2px 2px #1e60ff;
}
.h_list a{
    text-decoration: none;
    color:#fff;
    width:100%;
    height: 100%;
    border-radius: 4px;
    display: inline-block;
}
.h_img{
    width:34px;
    height:34px;
    background-color: #1e90ff;
    transition: background-oclor .2s;
    -moz-transition: background-oclor .2s; /* Firefox 4 */
    -webkit-transition: background-oclor .2s; /* Safari 和 Chrome */
    -o-transition: background-oclor .2s; /* Opera */
}
.h_img:hover{
    background-color: #00bfff;
    box-shadow: 2px 2px 2px #1e60ff;
}
.h_img_list ul{
    margin-top:-7px;
    list-style: none;
    position:absolute;
    top:50px;
    right:35px;
    width:62px;
    height:220px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #ccc;
}
@media screen and (min-width: 780px){
	.nav_full{
		visibility: hidden;
	}
}
@media screen and (max-width: 780px) {

    .nav ul li{
        display: none;
        padding: 0;
        margin: 0 5px;
    }
	.web_name{
		display: none;
	}
    .meun_ic {
        display: inline-block;
    }
    
    .h_wrap{
    	width:96%;
    }
}
@media screen and (max-width: 1100px){
	.h_form{
    	display: none;
    }
}
