/*login_n_sign*/
body{background-color:#fff;margin: 0;font-size: 14px;font-family:Georgia, "Times New Roman",
"Microsoft YaHei", "微软雅黑",
STXihei, "华文细黑",
serif;}
.wrap{
    width:100%;
    height:380px;
    background-color: #1e90ff;

}
.logo{
    width:380px;
    height:380px;
    float: left;
    text-align: center;
    font-size: 44px;
    color:#fff;
    padding-top:120px;
    box-sizing: border-box;
}
.second_h{
    font-size: 18px;
}
.l_head{
    max-width:880px;
    min-width: 480px;
    margin:0 auto;
}
.login{
    font-weight: 400;
    font-size: 16px;
    color:#fff;
    float:right;
    width:400px;
    height:380px;
}

.login form{
    width:50%;
    padding-top:48px;
    margin:0 auto;
}
.login form .tt{
    width:100%;
    height:34px;
    margin:12px 0;
    outline: none;
    border: 1px solid #00bfff;
    border-radius: 4px;
    padding:0 8px;
    font-family: Georgia, "Times New Roman",
    "Microsoft YaHei", "微软雅黑",
    STXihei, "华文细黑",
    serif;
    box-sizing: border-box;
    font-size: 14px;

}
.login img{
    width:22px;
    height:22px;
    float: right;
}
.login span{
    display: inline-block;
    height:24px;
    line-height: 24px;
}

.s_one{
    float: left;
    width:80px;
    padding:0 4px;
}
.s_two{
    width: 34px;
    padding-right: 4px;
    float: right;
    text-align: right;
}
.re_me{
    vertical-align: text-top;
}
.sub{
    color:#fff;
    font-weight: 400;
    background-color: #00bfff;
    transition: background-oclor 2s;
    -moz-transition: background-oclor 2s; /* Firefox 4 */
    -webkit-transition: background-oclor 2s; /* Safari 和 Chrome */
    -o-transition: background-oclor 2s; /* Opera */
}
.sub:hover{
    background-color: #00aaff;
}
a{
    text-decoration: none;
    color:#fff;
}
@media screen and (max-width: 780px){
	.logo{
		width:100%;
	    height:38px;
	    margin:0 auto;
	    font-size: 24px;
	    padding-top: 28px;
	    
	}
	.login{
		
		width:100%;
		margin:0 auto;
	}
}
