/*main*/
.content{width:72%;min-width: 280px;height:980px;margin:0 auto;}

.main_c{width:74%;height: 920px;float:left;margin-top:28px;background:#fff;border-radius: 4px; box-shadow: 2px 2px 2px #ccc;}
.right{width:25%;height:920px;float: right;margin-top:28px;background:#fff;border-radius: 4px;box-shadow: 2px 2px 2px #ccc;}
a{text-decoration: none;}
.c_title{width:100%;height:54px;margin-top:8px;border-bottom: 1px solid #ccc;}
.c_title p{color:.333;font-size: 20px;font-weight: 400;padding-left:28px;display: inline-block;width:90px;height:28px; line-height: 28px; float:left; margin-top:7px; vertical-align: middle;}
.c_title img{
	width:32px;
	height:22px;
	padding:8px;
	margin-top:2px;
	vertical-align: middle;
	margin-bottom: 6px;
}

.c_title ul li{
    list-style: none;
    float:right;
    display: inline-block;
    width:78px;
    height:32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;margin:0 4px;
    text-align:center;

}
.c_title li:hover{
	border-bottom: 2px solid #1e60ff;
}
.active{
    border-bottom: 2px solid #1e60ff;
}
.c_title ul{
    width:280px;
    height:32px;
    margin-top:8px;
    float:right;
    margin-top:22px;
    padding:0 8px;
}
.c_title a{color:#333;}
.c_list{
	width:94%;
	height:68px;
	margin:8px auto;
	border-bottom: 1px solid #ccc;
	position:relative;
}
.li_img{
	width:38px;
	height:38px;
	background-color:#0099ff;
	border-radius: 4px;
	position:absolute;
	top:15px;
	left:0px;
}
.li_content{
	width:70%;
	height:38px;
	position:absolute;
	top:15px;
	left:60px;
}
.li_content h4{
	margin:0;
	font-size: 16px;
    font-weight: 400;
    padding-bottom:5px;
    margin-top: -4px;
	
}
.li_content p{
	margin:0;
	font-size: 12px;
	
}
@media screen and (max-width:1100px){
	.right{
		display: none;
	}
	.main_c{
		width:100%;
	}
}
@media screen and (max-width:600px){
	.c_title{
		display: none;
	}
}

.hot_r{
    width:84%;
    height:320px;
    border-bottom: 1px solid #ccc;
    margin:14px auto;

}
.hot_r h4{
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
}
.more{
    display:block;
    font-size: 15px;
    font-weight: 400;
    width:78px;
    height:30px;
    margin:4px auto;
    background: #33cc99;
    color:#fff;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.more:hover{
    background: #009966;
}
.hot_list{
    width:100%;
    height: 48px;
    margin:4px auto;
    position:relative;
}
.hot_img{
    width:32px;
    height:32px;
    background-color:#0099ff;
    border-radius: 4px;
    position:absolute;
    top:8px;
    left:0px;
}
.hot_content{
    width:70%;
    height:32px;
    position:absolute;
    top:8px;
    left:38px;
}
.hot_content span{
     font-size: 14px;
    margin:0;
    display: inline-block;
    height:20px;
    padding:0 8px;
    background: #66ccff;
    border-radius: 4px;
    color:.fff;
    
}
.hot_content p{
    margin:0;
    font-size: 0.6em;
    color:#888;
    
}
.hot_user{
    border:none;
}


/*profit*/

.profit_c{
    width:74%;
    float:left;
    margin-top:28px;
}
.profit_top{
    width:100%;
    height: 270px;
    background:#fff;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #ccc;
     position:relative;
}
.profit_top h4{
    margin: 0;
    display: inline-block;
    width:80%;
    height:36px;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
}

.profit_anwser ,.profit_dy{
    margin-top:25px;
    width:100%;
    height: 300px;
    background:#fff;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #ccc;
}

.avator{
    padding:0;
    width:98px;
    height:98px;
    float: left;
    margin:18px;
}

.avator img{
    margin:0;
    width:98px;
    height:98px;
    
}

.profit_top p{
    margin:0;
    width:80%;
    height:30px;
    display:block;
    font-size: 14px;
}
.con{
    width:70%;
    height: 98px;
    float:left;
    margin-top:18px;
    margin-bottom: 40px;
}

.desc{
    font-weight: 400;
    color:#888;
}
.meta{
    width:100%;
    height:48px;
    clear: both;
    border-top:1px solid #ccc;
}
.p_footer{
    position: absolute;
    bottom:4px;
    width:100%;
    height:54px;
    border-top:1px solid #ccc;
    border-bottom: none;
}
.p_footer ul{
    float:left;
    margin-top:16px;
    padding-left: 18px; 
    width:100%;
}
.p_footer ul li{
    float:left;
}